@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 245, 245, 245;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 245, 245, 245;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 245, 245, 245;
    --background-start-rgb: 245, 245, 245;
    --background-end-rgb: 245, 245, 245;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mainLinks:hover svg, .mainLinks:hover span {
  fill: #2e8dff;
  color:#2e8dff;
}