@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 245, 245, 245;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 245, 245, 245;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 245, 245, 245;
    --background-start-rgb: 245, 245, 245;
    --background-end-rgb: 245, 245, 245;
  }
}
.btn {
  @apply font-bold py-1.5 rounded-xl border px-10;
}
.btn-primary {
  @apply text-white transition-all duration-300 bg-primary-blue hover:bg-primary-white hover:text-primary-blue hover:border hover:border-primary-blue active:scale-95 active:duration-150;
}

.btn-secondary {
  @apply transition-all duration-300 text-primary-blue bg-primary-white border-primary-blue hover:bg-primary-blue hover:text-primary-white hover:border hover:border-primary-blue active:scale-95 active:duration-150;
}

.mainLinks:hover svg, .mainLinks:hover span {
  fill: #2e8dff;
  color:#2e8dff;
}